# This is a basic workflow to help you get started with Actions

name: UpdateVitals

# Controls when the workflow will run
on: pull_request

  # Allows you to run this workflow manually from the Actions tab
  #   workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}
      #
      #Repo Name
      - name: Run a one-line script
        run: echo "REPO_NAME=${{ github.event.repository.name }}" >> $GITHUB_ENV

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          sed -i 's/vitals-testing/${{ github.event.repository.name }}/g' vitals.yaml
          git config --global user.email "pradeep@pradeep.com"
          git config --global user.name "Your Name"
          git commit -am "Automated report"
          git push

# Runs a single command using the runners shell                
      - name: Disable this workflow
        shell: bash
        run: |
          gh workflow disable -R $GITHUB_REPOSITORY "${{ github.workflow }}"
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
